<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Image Colossal</title>
</head>
<body>
  <app-card></app-card>
  <!-- <div class="container">
     <div class="heading1">
      <h1>Image  Colossal</h1>
    </div>
    <div class="bottom">
      <button (click)="prev_img()"><i class="fas fa-solid fa-chevron-left" style="color:white"></i>Previous</button>
      <div class="img_area">
        <img [src]="show_img()" alt="Image_Colossal">
      </div>
      <img [src]="show_img()" alt="Image_Colossal"> 
      <button (click)="next_img()"><i class="fas fa-solid fa-chevron-right" style="color:white"></i>Next</button>
    </div> 
  </div> -->
</body>
</html>